<html lang="en">
<head>
  <title>Upload</title>
  <link rel="stylesheet" href="/css/upload.css">
  <meta charset="utf-8">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>

<div class="modal">
  <div class="modal-header">
    <div class="modal-logo">
			<span class="logo-circle">
				<svg xmlns="http://www.w3.org/2000/svg" width="512" height="419.116" viewBox="0 0 512 419.116">
					<defs>
						<clipPath id="clip-folder-new">
							<rect width="512" height="419.116" />
						</clipPath>
					</defs>
					<g id="folder-new" clip-path="url(#clip-folder-new)">
						<path id="Union_1" data-name="Union 1" d="M16.991,419.116A16.989,16.989,0,0,1,0,402.125V16.991A16.989,16.989,0,0,1,16.991,0H146.124a17,17,0,0,1,10.342,3.513L227.217,57.77H437.805A16.989,16.989,0,0,1,454.8,74.761v53.244h40.213A16.992,16.992,0,0,1,511.6,148.657L454.966,405.222a17,17,0,0,1-16.6,13.332H410.053v.562ZM63.06,384.573H424.722L473.86,161.988H112.2Z" fill="var(--c-action-primary)" stroke="" stroke-width="1" />
					</g>
				</svg>
			</span>
    </div>
  </div>
  <div class="modal-body">
    <h2 class="modal-title">File Upload</h2>
    <form action="/dashboardIndex/Upload" method="POST" enctype="multipart/form-data">
      <input type="file" name="file" id="file" lang="en">
      <div class="modal-footer">
        <input class="btn-secondary" type="button" value="Back to home" onclick="window.location.href='/dashboardIndex/Home'">
        <input class="btn-primary" type="button" value="Upload" onclick="post()">
      </div>
    </form>
    <span id="result"><%= upload_result %></span>
  </div>
</div>
</body>

<script>
  function post(){
      var file = document.getElementById("file");
      var files = file.files[0]
      var data = new FormData();
      data.append('file', files)
      axios({
          method: "POST",
          url: "/dashboardIndex/Upload",
          data: data,
          headers: {
              "Content-Type": "multipart/form-data"
          },
      }).then(function (res){
          console.log(res)
          document.getElementById("result").innerHTML = res.data;
      }).catch(function (err) {
          document.getElementById("result").innerHTML = "File Upload Error";
      })
  }
</script>
</html>